body {
  background: grey;
}
#todo-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
  list-style: none;
}
.list-item {
  list-style: none;
  border-radius: 6px;
  background: #ffffff;
  color: #000000;
  height: 150px;
  padding: 15px;
}
